convolutional-neural-networks/transfer-learning/flower_photos.zip
convolutional-neural-networks/weight-initialization/data.zip
convolutional-neural-networks/autoencoder/simple-autoencoder/data.zip
convolutional-neural-networks/autoencoder/denoising-autoencoder/data.zip
convolutional-neural-networks/autoencoder/convolutional-autoencoder/data.zip
gan/mnist-gan/data.zip
gan/batch-norm/data.zip
gan/dcgan/data.zip
gan/cycle-gan/summer2winter_yosemite.zip
gan/face-generation/processed_celeba_small.zip
gan/face-generation/train_samples.pkl
